@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ============   Template Default Css   ============ */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-transform: capitalize;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ============   Template Default end   ============ */

/* ===== navbar start ===== */
.nav-section li {
  margin-left: 55px;
}
/* ===== navbar end ===== */
/* ===== slider start===== */
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}
.carousel-caption {
  bottom: 180px;
  margin-right: 100px;
  margin-left: 100px;
}
.carousel-caption h1 {
  font-size: 48px;
}
.carousel-caption p {
  font-size: 12px;
  font-weight: 400;
}
.carousel-caption button {
  text-transform: capitalize;
}
/* ===== slider end===== */
/* ====popular courses start=== */

.section-text h5 {
  color: #4a4a4a;
}

.counter li {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  text-align: start;
  padding: 0 60px 0 0;
}

.counter li span {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #4a4a4a;
}
/* ====popular courses end=== */

/* === succesfull student start==== */
.card-body a {
  text-align: start;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #4a4a4a;
}
.card-body span {
  color: #777777;
}
/* === succesfull student end==== */

/* === feedback  start==== */
.icons ul li {
  display: inline-block;
  color: #fbbf24;
}
.review img {
  height: 42px;
  width: 42px;
}
.review-text a {
  display: block;
}

/* === feedback  end==== */

/* ==Frequently start== */
.questions {
  max-width: 800px;
}
/* ==Frequently start== */
/* footer-start */
footer{
  color: #ddd;
  background-color: #161616;
}
.icon ul li{
  list-style: none;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 14px;
  
}
.icon ul li a{
  color: #777777;
}
.icon ul li a:hover{
  color: #DC3545;
  transition: 0.3s;
}
/* footer-end */