@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ============   Template Default Css   ============ */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-transform: capitalize;
}
li {
  list-style: none;
}
/* ============   Template Default end   ============ */

/* ===== navbar start ===== */
.nav-section li {
  margin-left: 55px;
}
/* ===== navbar end ===== */
/* ===== slider start===== */
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}
.carousel-caption {
  bottom: 180px;
  margin-right: 100px;
  margin-left: 100px;
}
.carousel-caption h1 {
  font-size: 48px;
}
.carousel-caption p {
  font-size: 12px;
  font-weight: 400;
}
.carousel-caption button {
  text-transform: capitalize;
}
/* ===== slider end===== */
/* ====popular courses start=== */
